<form action="/login" method="post">
  <div>
    <label for="email-input"> Email </label>
    <input type="email" name="email" id="email-input"
      placeholder="e.g., bookcook@bookcook.company">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="e.g., ••••••••••••">
  </div>

  <button> Log In </button>
  <% if(errorMessage) { %>
    <div class="error">
      <%= errorMessage %>
    </div>
  <% } %>
</form>

<p>
  You did not Signup?
  <a href="/signup">
    Create an account.
  </a>
</p>
