<h2> Sign Up </h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<form action="/signup" method="post">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Username" name="name" required>
    <br>
    <br>
    <label><b>E-mail</b></label>
    <input type="email" placeholder="Enter E-mail" name="email" required>
    <br>
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <br>
    <div class="clearfix">
      <button>Sign In</button>
    </div>
  </div>
</form>


<p>
  Already have an account?
  <a href="/login">
    Log in
  </a>
</p>
