<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-warning"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
  <h2> Sign Up </h2>

  <% if (errorMessage) { %>
    <p class="error-message">
      <%= errorMessage %>
    </p>
  <% } %>

  <form action="/signup" method="post">
    <div>
      <label for="name-input"> Name </label>
      <input type="text" name="name" id="name-input"
        placeholder="e.g., Diana Prince">
    </div>

    <div>
      <label for="email-input"> Email </label>
      <input type="email" name="email" id="email-input"
        placeholder="e.g., resh@themyscira.agency">
    </div>

    <div>
      <label for="password-input"> Password </label>
      <input type="password" name="password" id="password-input"
        placeholder="e.g., ••••••••••••">
    </div>

    <button> Create New Account </button>
  </form>

  <p>
    Already have an account?
    <a href="/login">
      Log in.
    </a>
  </p>
