<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <header>
      <h1> BOOK A COOK </h1>
    </header>
    <ul>
      <li><a href="/signup"> Sign Up </a></li>
      <li><a href="/login"> Login </a></li>
      <li><a href="/logout"> Logout </a></li>
      <li><a href="/cooks">Our Cooks </a></li>
      <li><a href="/becomecook">Become A Cook </a></li>
      <li><a href="/ourcuisine">Our Cuisine  </a></li>
    </ul>
  </nav>
  <%-body%>

</body>

</html>
