<!DOCTYPE html>

<html>

<head>
<title><%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css">


<body>

  <div class="topnav">
    <a class="active" href="/">Home</a>

    <%if (!user) { %>
      <a href="/signup">Sign-up</a>
      <a href="/becomecook">Become A Cook</a>
      <a href="/login">Login</a>
      <% } %>

        <%if (user) { %>
          <a href="/logout">Logout</a>
          <%if (!user.isCook) { %>
            <a href="/becomecook">Become A Cook</a>
            <% } %>
              <% } %>

                <a href="/cooks">Our Cooks</a>
  </div>

  <div style="padding-left:16px">

  </div>
  <%-body%>
</body>

</html>
