

<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: rgb(245, 94, 97);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
  border-width: 0.2px;
  border-color: #f2f2f2;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>

  <a href="/signup">Sign-up</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
  <a href="/becomecook">Become A Cook</a>
    <a href="/cooks">Our Cooks</a>
</div>

<div style="padding-left:16px">

</div>
<%-body%>
</body>
</html>
