<h2>Become a Cook</h2>
<form action="/becomecook" method="post">
  <div class="container">
    <label><b>Cuisine</b></label>
    <input type="text" placeholder="Cuisine" name="name" required>

    <label><b>Experience</b></label>
    <input type="text" placeholder="" name="experience" required>

    <label><b>Description</b></label>
    <input type="text" placeholder="" name="description" required>
    <label><b>Location</b></label>
    <input type="text" placeholder="" name="location" required>
    <label><b>Availability</b></label>
    <input type="text" placeholder="" name="availability" required>



    <div class="clearfix">
      <button>Become Cook</button>
    </div>
  </div>
</form>
