<div class="container login-container">

<h2><b>Book
    <%= cook.name %><b>
</h2>

<br>

  <form action="/cooks/<%= cook._id %>/booking" method="post">
    <div class="field">
      <label class="label">When would you like to book the cook ?</label>
      <div class="control">
        <input class="input" type="date" name="startDate" required id="text-input"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Beginning hour :</label>
      <div class="control">
        <input class="input" type="time" name="startTime" required
      >
      </div>
    </div>
        <div class="field">
      <label class="label">End hour :</label>
      <div class="control">
        <input class="input" type="time" name="endTime" required id="text-input"
        >
      </div>
    </div>
            <div class="field">
      <label class="label">How many guests ?</label>
      <div class="control">
        <input class="input" type="number" name="people" required id="text-input"
        placeholder="total number of people the cook neeeds to cater for"
        >
      </div>
    </div>
        <div class="field">
      <label class="label">Any special request, please advise here :</label>
      <div class="control">
        <input class="input" type="text" name="special" required
      placeholder="gluten free, vegan etc.">
      </div>
    </div>
  <div>
  </div>
    <button class="button is-danger"> Book the cook ! </button>
 <br>
 <br>
  <p>
    Back to the cooks' page
    <a href="/cooks">
      Here.
    </a>
  </p>
