<link rel="stylesheet" href="./stylesheets/cooks-style.css">
<div class="container cooks-container">
  <h1>Our Cooks:</h1>
<br>

  <% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
  <% } %>

  <ul>
  <% cooks.forEach((cook) => { %>
    <li>

      <p> <%= cook.cookData.cuisine %> </p>

      <a href="/cooks/<%= cook._id %>" style="color:#f2f2f2">
        <h3> <%= cook.name %> </h3>
      </a>
    </li>
  <% }) %>
  </ul>


</div>