<html>
<head>
<style>
  .header {
    padding: 50px;
    text-align: center;
  }

</style>
</head>
<body>
<div class="header">
<h1>Welcome to your own kitchen !!!!</h1>
<h2>Real aunthentic food in your kitchen !!!</h2>
</div>
</body>
</html>
