body {
  background-image: url(../images/cook3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*body{
  background-color: #FADBD8;
  color: black;
  font-style: italic;
}*/
