body {
  background-color: rgb(249, 249, 249);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(245, 94, 97);
  text-align: left;
  min-height: 100vh;
}

body {
  background-image: url(../images/cookh2.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(228, 228, 228);
  opacity: 1;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(245, 94, 97);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  /*border-style: solid;
  border-width: 0.1px;
  /*border-color: black;*/
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(245, 94, 97);
  color: white;
}

.button.is-danger {
  background-color: rgb(245, 94, 97);
}

.msg{
  font-size: 150%;
}
.login-container {
  margin-top: 30px;
  padding-bottom: 30px;
  max-width: 300px;
}

.cooks-container {
  margin-top: 40px;
  margin-left: 170px;
  font-size: 20px;
}

.cook-profile-container {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.cook-profile-container h1 {
  font-size: 20px;
}

.cook-profile-container p {
  color: rgb(128, 128, 128);
}
